{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "ie >= 9",
            "iOS >= 9",
            "Android >= 4.0"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime"
  ]
}